<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フォーム入力、その他</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/study.css">
</head>

<body>
    <h1 class="text-4xl">フォーム入力、その他</h1>
    <div id="app" v-cloak>
        <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="block">
                    <label>Date</label>
                    <input type="date" name="date" class="border" v-model="birthday">
                </div>
                
                <div class="block">
                    <label>Range</label>
                    <input type="range" name="hamburger" v-model="range" min="0" max="10">
                </div>
            </form>
            <p>{{ birthday }}</p>
            <p>{{ '🍔'.repeat(range) }}</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/binding_others.js"></script>
</body>

</html>