<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>el,data</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/study.css">
</head>

<body>
    <h1 class="text-4xl">el,data</h1>
    <div id="app" v-cloak>
        <label for="number">数値：</label>
        <input type="number" class="border" id="number" v-model="number">
        <img v-show="number == 0" src="images/cat.jpg" alt="">
        <p v-if="number < 10">10より小さいです</p>
        <p class="text-red-500" v-else-if="number >= 10 && number < 20">10を超えました</p>
        <p class="text-red-800 text-2xl" v-else>20以上です</p>
        <table class="border">
            <tbody>
                <tr v-for="song in songs">
                    <td class="border">{{ song.name }}</td>
                    <td class="border text-right">{{ song.release }}</td>
                </tr>
            </tbody>
        </table>
        <img v-for="picId in picIds" :src="`https://scopetown.co.jp/bbs2/bbsdata/${picId}.jpg`">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/el-data.js"></script>
</body>

</html>