<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Vue</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/study.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="block">
                    <span class="text-gray-700">Radio Buttons</span>
                    <div class="mt-2">
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" class="form-radio" name="radio" value="js" v-model="lang">
                                <span class="ml-2">Good</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" class="form-radio" name="radio" value="php" v-model="lang">
                                <span class="ml-2">PHP</span>
                            </label>
                        </div>
                        <div>
                            <label class="inline-flex items-center">
                                <input type="radio" class="form-radio" name="radio" value="html" v-model="lang">
                                <span class="ml-2">HTML</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <p>{{ lang }}</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/app5.js"></script>
</body>

</html>