<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件分岐とループ</title>
</head>
<body>
    <div id="app">
        <span v-if="error">エラーです</span>
    </div>
    <div id="app_2">
        <ol>
            <li v-for="pref in prefs">
                {{ pref.text }}
            </li>
        </ol>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
const app = new Vue({
    el: '#app',
    data: {
        error: false
    }
});
const app_2 = new Vue({
    el: '#app_2',
    data: {
        prefs: [
            { text: '兵庫' },
            { text: '大阪' },
            { text: '京都' }
        ]
    }
});
</script>
</body>
</html>